.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn-outline-secondary {
    color: #9FA0A2;
    border-color: #9FA0A2;
}

.summary-form {
    text-align: left;
    /*background: #ecb594;*/
    padding: 5px 10px 0px 10px;
}

.align-left {
    text-align: left;
}

/*
    Login
*/

.content-body {
  height: 100%;
  display: flex;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  /*margin-bottom: 10px;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
    Fin Login
*/

/*
    Registrar
*/

.form-registrar {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  /*margin-top: -10%;*/
}

/*
    Fin registrar
*/

/*
    Juego
*/

.espacio-interno-8{
    padding: 8px;
}

.border-caja-1{
    border: 1px solid #000;
}

.margin-top-excel{
    margin-top: 5%;
}

.disabled-etiqueta-a {
    cursor: not-allowed;
    pointer-events: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}